// Importe os estilos do PrimeNG
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

// Estilos customizados para os toasts
.p-toast {
  .p-toast-message {
    &-success {
      background-color: #dcf7e3;
      border-left: 6px solid #34c759;
      .p-toast-message-icon {
        color: #34c759;
      }
    }

    &-error {
      background-color: #ffe5e5;
      border-left: 6px solid #ff3b30;
      .p-toast-message-icon {
        color: #ff3b30;
      }
    }
  }

  .p-toast-message-content {
    padding: 1rem;

    .p-toast-summary {
      font-weight: 600;
    }

    .p-toast-detail {
      margin-top: 0.5rem;
    }
  }
}
